:root {
    --height: 3em;
    --height-X2: 6em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class *="col"] {
    height: 100%;
    min-height: var(--height);
    line-height: var(--height);
    text-align: center;
    border: 0.5px solid white;
}


.row > div {
    background-color: blue;
    color: white;
}

.row > div > .row {
    padding: 1em;
}

.row > div > .row > div {
    background-color: green;
    color: white;
    border: 0.5px solid blue;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.sp-btw {
    justify-content: space-between;
}

.sp-arnd {
    justify-content: space-around;
}

.mb-1 {
    margin-bottom: 1em;
}

.md-box {
    height: var(--height);
}

.big-box {
    height: var(--height-X2);
}

.row:nth-child(34) .col-6.big-box + div.col-6 {
    align-self: center;
}

.row:nth-child(35) .col-6.big-box + div.col-6 {
    align-self: flex-end;
}